 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}

:root {
    --box-color :rgba(144, 20, 188,.8);
    --border-clr:rgb(232, 227, 255);
}

body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
}
.bg-game {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #000;
    background-image: url('../asset/logo_game/mlbb-kagura.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
}

.content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: whitesmoke;
    top: 40vh;
    border-radius: 50px 50px 0 0;
    padding: 1rem;
    color: whitesmoke;
    box-shadow: 0 -3px 20px rgba(0, 0, 0, 0.3);
}

/* ===== INPUT ID ====== */

.content .input-container {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Tambahkan bayangan agar terlihat "mengambang" */
    width: 100%;
    margin-inline: .3rem;
    position: relative;
    padding: 1rem 1rem 2rem 1rem;
    background-color: var(--box-color);
    border-radius: 16px; 
}

.content .input-container .title {
    margin-left: 1.5rem;
}

.content .input-container .input-id-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 60%; */
    

}

.content .input-container::before {
    content: '1';
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -15px;
    left: -15px;
    width: 50px;
    height: 50px;
    background-color: #00bcd4;
    border-radius: 50%;
    font-weight: bold;
    font-size: 1.5em;
    box-shadow: 0 2px 4px rgba(0, 0, 0,.2);
}

.content .input-container.nominal-section::before {
    content: '2';
}

.content .input-container.pay-section::before {
    content: '3';
}

.content .id-section .input-group {
    display: flex;
    flex-direction: column;
    /* width: 50%; */
    padding-right: .3rem;
}

.content .id-section .input-group p {
    margin-bottom: 10px;
    font-weight: bold;
}

.content .id-section .input-group .input-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.content .id-section .input-group .input-wrapper .icon {
    position: absolute;
    left: 2%;
    top: 28%;
}

.content .id-section .input-group .input-wrapper .limit {
    position: absolute;
    right: 5%;
    font-size: .8rem;
    color: rgba(245, 245, 245,.5);
}

.content .id-section .input-group input {
    background-color: rgba(245, 245, 245,.5);
    color: rgb(245, 245, 245);
    padding: 1rem 3rem;
    border-radius: 16px;
    outline: none;
    border: none;
    flex-grow: 1;
    width: 100%;
    font-size: 1rem;
}

.content .id-section .input-group input::placeholder{
    color: rgba(245, 245, 245,.7);

}

/* ===== INPUT ID END ====== */


/* ===== INPUT NOMINAL ====== */
a {
    text-decoration: none;
}

.card {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 0;
    padding-top: 8% ;
    height: 100%;
    border-radius: 16px;
    overflow: hidden;
    border: 3px solid var(--border-clr);
    background-color: rgb(255, 255, 255);
}

.card:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 20px rgba(255, 255, 255, 0.2);
}

.nominal-section .list-diamond .card > p{
    font-weight: 500;
    font-size: 1.2rem;
}

.nominal-section .list-diamond .card .img-container {
    width: 50%;
}

.nominal-section .list-diamond .card .img-container img {
    width: 100%;
}

.nominal-section .list-diamond .card .card-bottom {
    background-color: rgb(246, 245, 252);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 6% 6% 6% 0;
}

.nominal-section .list-diamond .card .card-bottom p {
    color: rgb(240 ,99 ,131);
    margin: 0;
    font-size: .8rem;
}

.nominal-section .list-diamond .card .card-bottom p.harga {
    font-weight: bold;
    font-size: 1.2rem;
}

.nominal-section .list-diamond .card .card-bottom .diskon .persen {
    background-color: greenyellow;
    border-radius: 16px;
    padding: .1rem .3rem;
    background-color: rgb(213, 247, 219);
    color: rgb(8, 173, 54);
    font-weight: bold;
    font-size: .7rem;
}

.nominal-section .list-diamond .card .card-bottom .diskon .af-diskon {
    text-decoration: line-through;
    color: rgb(145 ,141, 161);
    font-size: .7rem;

}

/* ==== PILIH PEMBAYARAN ===== */
.pay-section .card {
    padding-left: 1rem;
    align-items: flex-start;
}

.pay-section .card .pay-img {
    margin-bottom: .5rem;
}
/* ==== PILIH PEMBAYARAN END ===== */