 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}

:root {
    --box-color :rgba(144, 20, 188,.8);
}

body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
}
.bg-game {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #000;
    /* z-index: 1; */
    background-image: url('../asset/logo_game/mlbb-kagura.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
}

.content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 1000px; */
    background-color: whitesmoke;
    top: 40vh;
    /* z-index: 2; */
    border-radius: 1rem 1rem 0 0;
    padding: 1rem;
    color: whitesmoke;

}

/* ===== INPUT ID ====== */

.content .input-id-container,
.content .input-nominal-container {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Tambahkan bayangan agar terlihat "mengambang" */

}

.content .input-id-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    background-color: var(--box-color);
    padding: 3rem;
    border-radius: 1rem;    

}

.content .input-id-container::before,.input-nominal-container::before {
    content: '1';
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -15px;
    left: -15px;
    width: 50px;
    height: 50px;
    background-color: #00bcd4;
    border-radius: 50%;
    font-weight: bold;
    font-size: 1.5em;
    box-shadow: 0 2px 4px rgba(0, 0, 0,.2);
}
.input-nominal-container::before {
    content: '2';
}

.content .input-id-container .input-group {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.content .input-id-container .input-group p {
    margin-bottom: 10px;
    font-weight: bold;
}

.content .input-id-container .input-group .input-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.content .input-id-container .input-group .input-wrapper .icon {
    position: absolute;
    left: 5%;
    top: 28%;
}

.content .input-id-container .input-group .input-wrapper .limit {
    position: absolute;
    right: 5%;
    font-size: .8rem;
    color: rgba(245, 245, 245,.5);
}

.content .input-id-container .input-group input {
    background: rgba(245, 245, 245,.5);
    color: rgb(245, 245, 245);
    padding: 1rem 3rem;
    border-radius: 1rem;
    outline: none;
    border: none;
    flex-grow: 1;
    width: 100%;
    font-size: 1rem;
}

.content .input-id-container .input-group input::placeholder{
    color: rgba(245, 245, 245,.7);

}

/* ===== INPUT ID END ====== */


/* ===== INPUT NOMINAL ====== */
.input-nominal-container {
    position: relative; 
    width: 80%; 
    /* margin-top: 2rem;  */
    padding: 2rem; 
    background-color: var(--box-color); 
    border-radius: 1rem;
}

.input-nominal-container .list-diamond .card {
    padding: 0;
}

.input-nominal-container .list-diamond .card .card-bottom {
    background-color: whitesmoke;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 10%;
}

.input-nominal-container .list-diamond .card .card-bottom p {
    color: rgb(254, 143, 161); 
    margin: 0;
    font-size: .8rem;
}

.input-nominal-container .list-diamond .card .card-bottom p.harga {
    font-weight: bold;
    font-size: 1.2rem;
}