html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    width: 100%;
    /* display: flex; */
}

.bg-game {
    background-image: url(../asset/logo_game/mlbb.png);
    /* background-color: red; */
    width: 100%;
    /* height: 100%; */
}