 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
    color: whitesmoke;
    background: linear-gradient(180deg, #232526, #414345);
    text-shadow: 0 2px 8px rgba(0,0,0,0.4);

}

.lacak {
    width: 100%;
    background: linear-gradient(180deg, #232526, #414345);
    padding: 2rem 3rem;
    box-shadow: 0px 5px 15px rgba(255, 255, 255, .3);
}

.lacak h1 {
    margin: 0;
    margin-bottom: 1rem;
}

.lacak .input-wrap {
    display: flex;
    flex-direction: column;
}

.lacak .input-wrap label {
    margin-bottom: .5rem;
}

.lacak .input-wrap input {
    width: 50%;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: .5rem 1rem;
}

.lacak svg{
    width: 1rem;
    margin-right: .3rem;
    fill: whitesmoke;
}

.lacak button {
    border: none;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    cursor: pointer;
    font-weight: bold;
    color: whitesmoke;
}

section {
    margin-inline: 15%;
    margin-top: 3rem;
}

.table-container {
    overflow-x: auto;

}

table {
    width: 100%;
    border-radius: 16px;
    border-spacing: 0;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

table .stat-suc {
    padding: .4rem;
    background-color: rgba(255, 255, 255, 0.3);
    width: fit-content;
    border-radius: 5px;
}

th,td {
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 1rem;
}
